@import "tailwindcss";

body{
 
  background-color: #121417;
   font-family: "Space Grotesk", sans-serif;
}
html {
  scroll-behavior: smooth;
}

@keyframes float{
  0%, 100% {
    transform:translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-float {
  animation: float 2s ease-in-out infinite;
}